<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Categorías - Dunki Gatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categoria.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>Elige una categoría</h1>

        {% set imagenes = {
            'PLATO PRINCIPAL': 'plato-principal.jpg',
            'BEBIDAS': 'bebidas.jpg',
            'ACOMPAÑANTES': 'acompañantes.jpg'
        } %}

        <div class="grid-categorias">
            {% for categoria in categorias %}
                <div class="categoria">
                    {% if categoria.nombre_grupo in imagenes %}
                        <img src="{{ url_for('static', filename='Imagenes/' ~ imagenes.get(categoria.nombre_grupo)) }}" alt="{{ categoria.nombre_grupo }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='Imagenes/default.jpg') }}" alt="Imagen por defecto">
                    {% endif %}
                    <h2>{{ categoria.nombre_grupo }}</h2>
                    <a href="{{ url_for('ver_productos_por_categoria', id_categoria=categoria.id_categoria) }}" class="btn-seleccionar">Seleccionar</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

