<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h2 class="mb-4">Agregar Nuevo Producto</h2>

        <form method="POST">
            <div class="mb-3">
                <label for="nom_producto" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" name="nom_producto" required>
            </div>

            <div class="mb-3">
                <label for="valor_producto" class="form-label">Valor del producto</label>
                <input type="number" class="form-control" name="valor_producto" required>
            </div>

            <div class="mb-3">
                <label for="id_categoria" class="form-label">Categoría</label>
                <select class="form-control" name="id_categoria" required>
                    {% for cat in categorias %}
                        <option value="{{ cat.id_categoria }}">{{ cat.nombre_grupo }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>