<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>
<body class="fondo-login">

    <div class="login-container">
        <img src="{{ url_for('static', filename='Imagenes/lobby.jpg') }}" alt="Logo Dunki Gatos" class="logo-login">

        <form method="POST" action="/inicio" class="formulario-login">
            {% if mensaje %}
                <p class="mensaje-error">{{ mensaje }}</p>
            {% endif %}

            <label for="correo">Usuario</label>
            <input type="email" name="correo" required>

            <label for="password">Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit" class="btn-ingresar">Ingresar</button>
        </form>

    
    </div>

</body>
</html>

