<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ categoria.nombre_grupo }} - Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor">
        <h1>{{ categoria.nombre_grupo }}</h1>
        <div class="grid-productos">
            {% for producto in productos %}
                <div class="producto">
                    <img src="{{ url_for('static', filename='Imagenes/' ~ categoria.nombre_grupo|lower|replace(' ', '-') ~ '.jpg') }}" alt="{{ categoria.nombre_grupo }}">
                    <h3>{{ producto.nom_producto }}</h3>
                    <button class="btn-seleccionar">Seleccionar</button>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

